@model Supermarket_management.Models.DanhMuc

@{
    ViewData["Title"] = "Sửa danh mục";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="MaDanhMuc" />
    <div class="form-group">
        <label asp-for="TenDanhMuc"></label>
        <input asp-for="TenDanhMuc" class="form-control" />
        <span asp-validation-for="TenDanhMuc" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">Lưu</button>
    <a asp-action="Index" class="btn btn-secondary">Thoát</a>
</form>
